[run]
source = codext
omit =
    src/codext/__info__.py
    src/codext/**/__init__.py

[report]
exclude_lines =
    pragma: no cover
    if.*?__name__.*?==.*?.__main__.:
    def main\(\)\:
    def __stdin_pipe\(\)\:
    for line in __stdin_pipe\(\)\:
    def __format_list\(items, include\=True\)\:
    def __print_tabular\(lst, space\=4\)\:
    except ImportError:
    except NameError:
    raise NotImplementedError
    def _detect\(text\)\:
    def _lang\(lang\)\:
    if stopfunc\.LANG_BACKEND\:
    def _validate\(stop_function, lang_backend\=\"none\"\)\:
    except KeyboardInterrupt\:
    if alt and len\(t\) \% 2 \=\= 1\:
